# Dependencias
node_modules/

# Archivos de construcción (Build)
dist/

# Cache
.astro/

# Variables de entorno (SECRETOS - Muy importante ignorar esto)
.env
.env*.local

# Archivos de sistema
.DS_Store
Thumbs.db
